body {
    width: 100%;
    background-image: url('concrete-texture.jpg'); 
}

.navbar {
    min-height: 80px;
}
  
.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
}
  
.navbar-brand{
    background: #4aaaa5;
    text-align: center;
    height: 80px;
    width:250px;
    padding: 0 15px;
    line-height: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Alex{
    font-size: xx-large;
    padding-top: 10px;
    background: #4aaaa5;

}

#about{
    padding-left: 10px;
}

#mainbody{
    border-style: solid; 
    border-width:medium; 
    border-color: rgb(214, 214, 214);
}

#portrait{
    height: 90%;
    padding: 15px;
}

#aboutmeheader{
    width: 100%;
}

p{
    line-height: 1.5;
}

#aboutme{
    padding-top: 10px;
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#social{
    padding-bottom: 25px;
}
#info{
    padding: 15px;
}
hr {
    border-color: rgba(158, 152, 152, 0.486);
    border-style: solid;
    padding: 1px;
    background: #d4d3d3;
    }